#block1 {
  /* 居中样式，块级元素宽度固定，两边宽度自动计算 */
  /* 当浏览器窗口宽度小于此元素时，将会出现滚动条。 */
  width: 600px;
  margin: 0 auto;
}

#block2 {
  /* 居中样式，块级元素宽度固定，两边宽度自动计算 */
  /* 当浏览器窗口宽度小于此元素时，将会出现滚动条。 */
  max-width: 600px;
  margin: 0 auto;
}

#traditionalBox1 {
  width: 500px;
  margin: 20px auto;
  border: 1px solid aqua;
}

#traditionalBox2 {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: 10px solid aqua;
}

#newBox1 {
  width: 500px;
  margin: 20px auto;
  border: 1px solid aqua;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#newBox2 {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: 10px solid aqua;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
